html, body, #root {
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 12px;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #eaeaea;
  background: #fafafa;
}
